[plugin]

name="Files Count"
description="Counts and displays number of all files in the project, that includes res:// (project path) and user:// (user path)"
author="Andrew Poženel"
version="1.1"
script="filescount.gd" ; GDScript for Godot4 version
; script="filescount.cs" ; C-Sharp for Godot4 version
